<?
    GLOBAL $locale;
//    $this->addScript("//ddnk.advertur.ru/v1/s/loader.js");
?>
<script type="text/javascript" src="//ddnk.advertur.ru/v1/s/loader.js" async></script>
<div style="display:none">
    <div class="vote-form">
        <div class="wait-block"><?=$locale['DISCWAIT']?></div>
        <div class="vote-block">
            <h2><?=$locale['YOUVOICE']?></h2>
            <div><div class="rate-state"></div></div>
            <div>
                <input type="button" value="Ок" class="ok-button">
            </div>
        </div>
    </div>  
</div>