<div id="grattis" style="display:none">
    <div id="phone"></div>
    <div id="promo">
<!--noindex--><div id="grattis_40625"><script type="text/javascript">
(function(){var func=function(){GRATTIS.widget(40625)};
if(typeof GRATTIS==='undefined'){var s=document.createElement('script');
s.type='text/javascript';s.src='//cdn'+Math.round((Math.random() * 3) + 1)+'.grattis.ru/publicdata/code.js?r='+(Math.random()*1000|0);
var i=setInterval(function(){if(typeof GRATTIS!=='undefined'){func();clearInterval(i)}},100);
document.getElementsByTagName('head')[0].appendChild(s)
}else{func()}})();</script></div><!--/noindex-->
    </div>
</div>