<div class="post">
    <h1>Пополнение счета произведено успешно!</h1>
    <p>Благодарим за позитивное отношение к нашему сайту. <a href="<?=MAINURL?>/anim.htm">Продолжить...</a></p>
</div>
<div class="post">
    <p>По вопросам платежей обращайтесь по следующим адресам: <a href="mailto:fwadim@mail.ru">e-mail</a> или соц-сетях, пользователю: <a href="http://ok.ru/freevmaya" target="_blank">Одноклассники.ru</a>, <a href="http://ok.ru/freevmaya" target="_blank">Вконтакте</a> или <a href="https://www.facebook.com/vadim.frolow" target="_blank">Facebook.com</a></p>
</div>    
